<!-- Preload -->
<img hidden [src]="diashow.beforeItem?.media?.enlarged?.url" alt="Preload">
<img hidden [src]="diashow.afterItem?.media?.enlarged?.url" alt="Preload">

<!-- View Area -->
<div class="media">
    <div *ngIf="!diashow.publicLinkContentIsVisibale" class="presentation-area" [ngStyle]="{ 'background-image': 'url('+diashow.currentItem?.media?.enlarged?.url+')', 'transition': diashow.presentationAreaTransition, 'opacity': diashow.presentationAreaOpacity  }"></div>
    <div class="info" *ngIf="!diashow.publicLinkContentIsVisibale">
        <div class="info__links">
            <div class="info__author">{{ diashow.currentItem?.author }}</div>
            <div class="info__description">{{ diashow.currentItem?.description }}</div>
        </div>
        <div class="info__rechts">
            <div class="info__section-title">{{ diashow.currentSectionTitle }}</div>
        </div>
    </div>

    <div *ngIf="diashow.publicLinkContentIsVisibale" class="presentation-area link">
        <h2 class="link__title">{{ data.object?.link.title }}</h2>
        <h1 class="link__url">{{ data.object?.link.url }}</h1>

        <div class="link__qr-code" [ngStyle]="{'background-image': 'url('+data.object?.link.urlQrBase64+')'}"></div>

        <p class="link__greetings">{{ data.object?.link.greetings }}</p>
    </div>

</div>

<!-- Back / Forward -->
<div class="controls" [hidden]="diashow.hideButtomControls">

    <button class="button button--icon-left before" [disabled]="!diashow.beforeItem" (click)="diashow.before()">
        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
            <title>Arrow Back</title>
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M244 400L100 256l144-144M120 256h292" />
        </svg>
        <span>Vorheriges Bild</span>
    </button>

    <button class="button button--icon-right next" [disabled]="!diashow.afterItem" (click)="diashow.next()">
        <span>Nächstes Bild</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
            <title>Arrow Forward</title>
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M268 112l144 144-144 144M392 256H100" />
        </svg>
    </button>

</div>
