@import 'fonts';

:root {
    --gap: 2rem;

    --background-color: #fff;
    --background-color-shadow: #f8f8f8;
    --foreground-color: #000;
    --text-color-main: #333;
    --text-color-shadow: #999;
    --text-color-light: #ccc;
    --button-foreground-color: #333;
    --button-background-color: #f4f4f4;
    --button-border-color: #eee;
    --button-foreground-color-hover: #000;
    --button-background-color-hover: #ccc;
    --button-foreground-color-active: #fff;
    --button-background-color-active: #444;
}

:root .darkmode {
    --background-color: #222;
    --background-color-shadow: #292929;
    --foreground-color: #fff;
    --text-color-main: #fff;
    --text-color-shadow: #aaa;
    --text-color-light: #777;
    --button-foreground-color: #f4f4f4;
    --button-background-color: #131313;
    --button-border-color: #333;
    --button-foreground-color-hover: #fff;
    --button-background-color-hover: #111;
    --button-foreground-color-active: #fff;
    --button-background-color-active: #444;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

html,
body {
    display: block;
    width: 100%;
    height: 100%;
    font-family: 'Jost', sans-serif;
}

p {
    text-align: justify;
    margin-bottom: var(--gap);
}

ul {
    font-size: 1rem;
    font-weight: normal;
    list-style: none;

    li:before {
        content: '-';
        margin: 0 1em;
        text-align: left;
    }
}

a {
    text-decoration: none;
    color: var(--text-color-main);
    font-weight: 500;
    position: relative;
    z-index: 1;
}

a:before {
    content: '';
    background-color: rgba(89, 87, 209, 0.2);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

a:hover::before {
    bottom: 0;
    height: 100%;
}

.button {
    line-height: 1;
    transition: all ease 300ms;
    display: inline-flex;
    padding: 0.7rem 1.35rem;
    align-items: center;
    border: 2px solid var(--button-border-color);
    background-color: var(--button-background-color);
    color: var(--button-foreground-color);

    &:hover {
        cursor: pointer;
        background-color: var(--button-background-color-hover);
        color: var(--button-foreground-color-hover);
    }

    svg {
        width: 1.25rem;
        height: 1.25rem;

        * {
            stroke: var(--button-foreground-color) !important;
        }
    }

    &--icon-only {
        padding-right: 0.7rem;
        padding-left: 0.7rem;
    }

    &--icon-left {
        // padding: 1rem 1.5rem;

        span {
            margin-left: 1rem;
        }
    }

    &--icon-right {
        // padding: 1rem 1.5rem;

        span {
            margin-right: 1rem;
        }
    }

    &--round {
        border-radius: 999em;
    }

    &--active {
        background-color: var(--button-background-color-active);
        color: var(--button-foreground-color-active);

        svg * {
            stroke: var(--button-foreground-color-active) !important;
        }
    }
}